Django==1.5.5
Pillow==2.0.0
South==0.8.3
argparse==1.2.1
cmsplugin-filer==0.9.5
django-classy-tags==0.4
-e git+https://github.com/divio/django-cms.git@develop#egg=django-cms
django-filer==0.9.4
django-mptt==0.6.0
django-polymorphic==0.5.3
django-reversion==1.7
django-sekizai==0.7
djangocms-admin-style==0.2.0
easy-thumbnails==1.4
html5lib==1.0b3
six==1.4.1
wsgiref==0.1.2
