Django==1.5.5
Pillow==2.0.0
argparse==1.2.1
django-classy-tags==0.4
South==0.8.3
django-sekizai==0.7
django-mptt==0.6.0
djangocms-admin-style==0.2.0
html5lib==1.0b3
-e git+https://github.com/divio/django-cms.git@develop#egg=django-cms
